body {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 3rem;
  padding: 1rem 1.75rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b3;
}
